<%# <h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p> %>

<h1>Student Update Form</h1>
<%= form_for(@student) do |f| %>
    <label>First Name:</label><br>
    <%= f.text_field :first_name %>
    <label>Last Name:</label><br>
    <%= f.text_field :last_name %>
    <%= f.submit "Update Student" %>
<% end %>