<%# <h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p> %>
<h1>Student Form</h1>
<%= form_for(@student) do |f| %>
    <label>First Name:</label><br>
    <%= f.text_field :first_name %>
    <label>Last Name:</label><br>
    <%= f.text_field :last_name %>
    <%= f.submit "Create Student" %>
<% end %>