<%# <h1>SchoolClasses#new</h1>
<p>Find me in app/views/school_classes/new.html.erb</p> %>

<h1>School Class Form</h1>
<%= form_for(@school_class) do |f| %>
    <label>School Title:</label><br>
    <%= f.text_field :title %>
    <label>Room Number:</label><br>
    <%= f.number_field :room_number %>
    <%= f.submit "Create School class" %>
<% end %>